*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100vw;
    background-image: linear-gradient(rgb(255,255,255),rgba(51, 1, 90, 0.5));
    text-align: center;
}
